<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SBB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            	<li class="nav-item">
            		<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
					<a class="nav-link" sec:authorize="isAuthenticated()" href="javascript:;"
             			onclick="this.nextElementSibling.submit();">로그아웃</a>
          			<form sec:authorize="isAuthenticated()" method="POST" th:action="@{/user/logout}"></form>            		
            	</li>
            	<li class="nav-item">
            		<a class="nav-link" th:href="@{/user/signup}">회원가입</a>
            	</li>
                <li>
                	<a class="nav-link" th:href="@{/review/list/1}">영화</a>
                </li>
                <li>
                	<a class="nav-link" th:href="@{/review/list/2}">드라마</a>
                </li>
                <li>
                	<a class="nav-link" th:href="@{/review/list/3}">애니</a>
                </li>
                <li>
                	<a class="nav-link" th:href="@{/review/list/4}">도서</a>
                </li>
            </ul>
        </div>
    </div>
</nav>